<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_GP">
        <activity
            android:name=".ItemMusic"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".ChatRow"
            android:exported="false" />
        <activity
            android:name=".ChatList"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".CreatePost"
            android:exported="false" />
        <activity
            android:name=".CommunityFeed"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".DailyTipsDetails"
            android:exported="false" />
        <activity
            android:name=".BlogDetail"
            android:exported="false" />
        <activity
            android:name=".MusicPage"
            android:exported="false" />
        <activity
            android:name=".MusicList"
            android:exported="false" />
        <activity
            android:name=".BrathingExercise"
            android:exported="false" />
        <activity
            android:name=".AppointmentBooking"
            android:exported="false" />
        <activity
            android:name=".AppointmentBooking"
            android:exported="false" />
        <activity
            android:name=".MindfulnessPlayer"
            android:exported="false" />
        <activity
            android:name=".MindfulnessPlayer"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".CounsellorList"
            android:exported="false" />
        <activity
            android:name=".WorkshopList"
            android:exported="false" />
        <activity
            android:name=".Workshop1Detail"
            android:exported="false" />
        <activity
            android:name=".WorkshopRegistration"
            android:exported="false" />
        <activity
            android:name=".Event"
            android:exported="false" />
    </application>

</manifest>